html {
  font-family: Helvetica;
}

h1 {
  background-image: url("../pattern.jpeg");
  font-size: 100px;
  color: khaki;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: white;
}

#brushes {
  background: mediumspringgreen;
}

#frames {
  background: lightcoral;
}

#paint {
  background-color: skyblue;
}

.description em {
  font-weight: bold;
  color: blue;
}
